<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
	<h1>   Adding CSS and JavaScript in thymleaf </h1>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis magnam voluptate temporibus esse fuga vero beatae! Eius voluptatibus eligendi vitae ad modi delectus cumque omnis optio quam aliquid. Cupiditate eveniet dolorum id nam nisi modi quasi nostrum odit vitae eaque. Molestias totam quia impedit natus voluptatibus ratione magni rerum animi? </p>
	</div>
	
	<script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>